.game-list {
    
    background-color: rgb(220, 220, 245);
    
}

.game-list-item, .join-group-grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 330px;
    justify-content: center;
    grid-gap: 20px;
}

.member-list {
        border: 2px solid #97989b85;
        display: flex;
        flex-direction: column;
        height: 80px;
        background-color: #97989b;
        padding: 10px;
        overflow-y: auto;
        text-align: left;
        margin: auto;
        border-radius: 2px;
        box-shadow: 4px 4px 4px #97989b2c;
}

.member-list > h4 {
    text-align: center;
    margin-top: 0;
}



a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(65, 60, 60);
}

@media (min-width: 740px) {
    .game-list-item, .join-group-grid {
      grid-template-columns: repeat(2, 330px);
    }
}

@media (min-width: 1075px) {
    .game-list-item, .join-group-grid {
      grid-template-columns: repeat(3, 330px);
    }
}

@media (min-width: 1452px) {
    .game-list-item, .join-group-grid {
      grid-template-columns: repeat(4, 330px);
    }
}